<h1>Tweet result for <%= search %></h1>
<% if (results.length > 0) { %>
	<ul>
		<% for (var i = 0; i < results.length; i++) { %>
			<li><% results[i].text %> - <em><%= results[i].from_user %></em></li>
		<% } %>
	</ul>
<% } else { %>
	<p> No results found</p>
<% } %>